
<div class="main">
  <div id="mainDiv">
    <img class="logo" src="../assets/img/logo.png" />
    <div class="linea lineaArriba galletas"></div>
    <div class="linea lineaAbajo galletas"></div>
    <div class="galletas">
      <img class="img izquierdo" src="../assets/img/galleta_der.png" />
      <div class="divMensaje">
        <p id="mensaje" class="mensaje">Escribiendo tu fortuna...</p>
      </div>
      <img class="img derecho" src="../assets/img/galleta_izq.png" />
    </div>
    <button id="capture" class="btn btn-success refreshButton" (click)="compartir()">Compartir</button>
    <button id="url" class="btn btn-success urlButton" (click)="compartir()"></button>
  </div>


  <div>
    <h2>Descripcion</h2>
    <p>La página web de la galleta de la fortuna es una plataforma en línea que ofrece mensajes inspiradores y positivos
      a sus usuarios.
      Al acceder a la página, el usuario es recibido por un diseño minimalista y moderno, con una imagen de una galleta
      de la fortuna en el
      centro de la pantalla.</p>

    <p>El usuario es invitado a hacer clic en la galleta para abrir su mensaje de la fortuna.
      Al hacerlo, se despliega una pequeña animación que simula el proceso de abrir una galleta de la fortuna en la vida
      real.
      Luego, aparece el mensaje de la fortuna, acompañado de una imagen relacionada con el tema del mensaje.</p>

    <p>Los mensajes de la galleta de la fortuna varían en temática, pero todos comparten una visión positiva de la vida
      y un mensaje motivador.
      Algunos mensajes están relacionados con la superación personal, el éxito en el trabajo o en los estudios, o la
      felicidad en las relaciones personales.
      Otros mensajes son más filosóficos o espirituales, y reflexionan sobre temas como el propósito de la vida, la
      gratitud,
      o la importancia de la compasión y el amor hacia los demás.</p>

    <p> Cada mensaje de la fortuna está cuidadosamente redactado para ser inspirador y positivo,
      pero también para ser práctico y aplicable a la vida cotidiana del usuario. Los mensajes no son vagos o genéricos,
      sino que ofrecen consejos y sugerencias concretas para mejorar la calidad de vida del usuario.</p>

    <p> Además de los mensajes de la fortuna, la página web también ofrece otras funcionalidades interesantes.
      Por ejemplo, hay un botón que permite al usuario compartir su mensaje de la fortuna en las redes sociales,
      para inspirar a sus amigos y seguidores. También hay un apartado de comentarios,
      donde los usuarios pueden compartir sus experiencias y reflexiones sobre los mensajes de la fortuna,
      y conectarse con otros miembros de la comunidad en línea.</p>

    <p> La página web también cuenta con un diseño responsivo, que se adapta a cualquier tamaño de pantalla o
      dispositivo.
      Esto significa que el usuario puede acceder a la página desde su teléfono móvil o su tablet,
      y recibir su mensaje de la fortuna en cualquier momento y lugar.
      Esto hace que la página sea una herramienta útil para quienes buscan inspiración y motivación en su vida diaria.
    </p>

    <p> En resumen, la página web de la galleta de la fortuna es una plataforma en línea que ofrece mensajes
      inspiradores y positivos a sus usuarios.
      Con un diseño minimalista y moderno,
      la página invita al usuario a recibir su mensaje de la fortuna al hacer clic en una imagen de una galleta de la
      fortuna.
      Los mensajes de la fortuna son cuidadosamente redactados para ser inspiradores y prácticos,
      y ofrecen consejos y sugerencias concretas para mejorar la calidad de vida del usuario. Además,
      la página cuenta con funcionalidades interesantes como la posibilidad de compartir los mensajes en las redes
      sociales y un apartado de comentarios
      para conectar con otros miembros de la comunidad en línea.</p>
  </div>

  <div>
    <h2>Historia</h2>

    <img class="img" src="../assets/img/caja.png"/>
    <p>La galleta de la suerte es un dulce muy popular en los restaurantes chinos y en la cultura popular de todo el
      mundo.
      Aunque la galleta de la suerte es un producto moderno, su origen se remonta a la antigua China. En este artículo,
      exploraremos la fascinante historia de la galleta de la suerte, desde sus orígenes en China hasta su popularidad
      mundial en la actualidad.</p>

    <p>Orígenes de la galleta de la suerte</p>

    <p> La historia de la galleta de la suerte se remonta a la dinastía Tang (618-907 d.C.) en China. Durante esta
      época,
      los chinos crearon pequeñas galletas que se rellenaban con mensajes de buenos deseos y se entregaban a los
      invitados en las fiestas.
      Estas galletas se conocían como "galletas de la fortuna" y su propósito era desear buena suerte y fortuna a los
      comensales.</p>

    <p>Sin embargo, las galletas de la fortuna no se parecían en nada a las galletas de la suerte que conocemos hoy.
      Las galletas de la fortuna eran más bien pequeñas tartas de harina y aceite que se cocían en un horno y se
      rellenaban con mensajes en papel.
      Estas galletas se convirtieron en un símbolo de la cultura china y se extendieron por todo el país.</p>

    <p>La evolución de la galleta de la suerte</p>

    <p>Durante la Primera Guerra Mundial, los chinos emigraron a los Estados Unidos y se establecieron en San Francisco.
      Con ellos trajeron sus tradiciones culturales, incluyendo las galletas de la fortuna. Sin embargo,
      las galletas de la fortuna no eran populares en los Estados Unidos y los chinos las adaptaron para adaptarse al
      gusto estadounidense.</p>

    <p>En lugar de una tarta, las galletas de la suerte se convirtieron en pequeñas galletas crujientes con un mensaje
      en su interior.
      Los mensajes eran a menudo adivinanzas o proverbios chinos traducidos al inglés.
      Las galletas de la suerte se convirtieron rápidamente en un éxito entre los estadounidenses,
      especialmente en los restaurantes chinos, donde se entregaban después de la cena.</p>

    <p>La galleta de la suerte se convierte en un icono de la cultura pop</p>

    <p>Con el tiempo, la galleta de la suerte se convirtió en un icono de la cultura popular estadounidense.
      Las galletas de la suerte aparecieron en programas de televisión, películas y series de dibujos animados.
      Incluso se convirtieron en un elemento básico en la cultura del entretenimiento, como la música y el cine.</p>

    <p>Además, las galletas de la suerte se convirtieron en una herramienta de marketing muy popular para empresas y
      marcas.
      Los mensajes dentro de las galletas se personalizaban con nombres de marca y publicidad, y se distribuían en
      eventos de marketing y ferias comerciales.</p>
  </div>

  <img class="img" src="../assets/img/galleta_der.png"/>
  <div>

    <h2>Como abrir tu galleta de la fortuna</h2>
    <p> La galleta de la fortuna es una deliciosa galleta crujiente que contiene un pequeño papel en su interior que
      contiene una frase de sabiduría o
      una predicción del futuro. Si has recibido una galleta de la fortuna y quieres saber cómo abrirla, sigue estos
      sencillos pasos:</p>

    <p>Abre la envoltura de la galleta: La mayoría de las galletas de la fortuna vienen envueltas en plástico o papel.
      Retira la envoltura con cuidado para que no se rompa la galleta.</p>

    <p>Sujeta la galleta: Sujeta la galleta con los dedos índice y pulgar en los extremos opuestos. La galleta debe
      estar en
      posición vertical.</p>

    <p>Rompe la galleta: Usa los dedos para presionar suavemente en el centro de la galleta hasta que se rompa en dos
      partes.
      Ten cuidado de no romper el papel del interior.</p>

    <p>Retira el papel: Abre la galleta y retira el papel del interior. Si la galleta se rompe y el papel se queda
      dentro,
      sácalo con cuidado.</p>

    <p>Lee el mensaje: Lee el mensaje en voz alta o en silencio. El mensaje puede contener una frase de sabiduría,
      una predicción del futuro o un proverbio chino. Tómate un momento para reflexionar sobre el mensaje y cómo puede
      aplicarse a tu vida.</p>

    <p>Comparte el mensaje: Si estás con amigos o familiares, puedes compartir el mensaje con ellos.
      Incluso puedes guardar el papel como recuerdo o pegarlo en un diario o en una pared.</p>

    <p>Algunas galletas de la fortuna también tienen números de la suerte o de la lotería en su interior.
      Si encuentras un número, puedes guardar la galleta y jugar a la lotería con ese número. Sin embargo,
      es importante recordar que los mensajes y los números de la galleta de la fortuna son solo por diversión y no
      deben
      ser tomados en serio.</p>

    <p>Si no tienes una galleta de la fortuna a mano, también puedes encontrar galletas de la fortuna
      virtuales en línea. Muchos sitios web ofrecen galletas de la fortuna en línea con mensajes aleatorios que se
      generan
      al azar.
      Para abrir una galleta de la fortuna virtual, sigue estos pasos:</p>

    <p>Visita un sitio web de galletas de la fortuna en línea: Hay muchos sitios web que ofrecen galletas de la fortuna
      virtuales.
      Algunos de los más populares incluyen fortune-cookie.com, galletadefortuna.shop/</p>

    <p>Haz clic en la galleta: Haz clic en la galleta virtual para abrirla. La galleta se romperá y se revelará el
      mensaje
      en su interior.

    <p>Lee el mensaje: Lee el mensaje y reflexiona sobre lo que significa para ti.</p>

    <p>Comparte el mensaje: Si lo deseas, puedes compartir el mensaje en las redes sociales o por correo electrónico.
      También puedes guardar el mensaje como recuerdo o copiarlo y pegarlo en un diario o en una pared.</p>

    <p>En conclusión, abrir una galleta de la fortuna es un proceso sencillo que requiere un poco de cuidado y atención.
      Ya sea que estés abriendo una galleta de la fortuna física o virtual.</p>
  </div>
</div>